body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0077be;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 48px;
    color: #ffffff;
}

p {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

button {
    display: block;
    margin: 50px auto;
    padding: 20px;
    font-size: 24px;
    background-color: #0077be;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #005d8f;
}

.intro {
    text-align: center;
    margin: 50px;
}

.intro p {
    font-size: 28px;
    color: gray;
}

.search {
    margin: 50px auto;
    text-align: center;
}

.search input {
    font-size: 24px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 60%;
    margin-right: 10px;
    margin-top: 20px;
}

.search button {
    font-size: 24px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #005d8f;
    color: #fff;
    cursor: pointer;
}

.search button:hover {
    background-color: #0077be;
}