<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <style>
        ul {
            list-style: none;
            display: flex;
            justify-content: end;
            gap: 10px;
        }
        a {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
        a:hover {
            color: lightblue;
            transition: 0.1s ease-in-out;
        }
    </style>
</head>
<body>
<header>
    <nav>
        <ul class="menu">
            <li><a href="/airport/home">Home</a></li>
            <li><a href="">Contacts</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
